@helper ActiveItem(string actionName, string controllerName, string areaName)
{
    if (ViewContext.RouteData.Values["action"].ToString() == actionName &&
            ViewContext.RouteData.Values["controller"].ToString() == controllerName &&
            (ViewContext.RouteData.DataTokens["area"] == null || ViewContext.RouteData.DataTokens["area"].ToString() == areaName))
    {
        @:active
    }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/">MyStockBook</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@ActiveItem("Index", "Home", null)">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="@ActiveItem("Index", "Stocks", null)">@Html.ActionLink("Stocks", "Index", "Stocks")</li>
                <li class="@ActiveItem("Index", "Calendar", null)">@Html.ActionLink("Calendar", "Index", "Calendar")</li>
            </ul>
            <div class="nav-button float-right" id="logButtons" onload="checkLogInStatus()"></div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function logIn() {
        FB.login(function (response) {
            // handle the response
            checkLogInStatus();
        }, { scope: 'publish_actions, publish_stream, read_stream' });

    }

    function logOut() {
        FB.logout(function (response) {
            // user is now logged out
            checkLogInStatus();
        });
    }

    function checkLogInStatus() {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                document.getElementById("logButtons").innerHTML = "<button id=\"logOut\" onclick=\"logOut()\">Log Out</button>";
        } else if (response.status === 'not_authorized' ) {
            document.getElementById("logButtons").innerHTML = "button id=\"logOut\" onclick=\"logOut()\">Log Out</button>";
        } else {
            document.getElementById("logButtons").innerHTML = "<button id=\"logIn\" onclick=\"logIn()\">Log In with Facebook</button>";
        }
        });
    }

    window.onload = function () {
        checkLogInStatus();
    }
    
</script>