@helper ActiveItem(string actionName, string controllerName, string areaName)
{
    if (ViewContext.RouteData.Values["action"].ToString() == actionName &&
            ViewContext.RouteData.Values["controller"].ToString() == controllerName &&
            (ViewContext.RouteData.DataTokens["area"] == null || ViewContext.RouteData.DataTokens["area"].ToString() == areaName))
    {
        @:active
    }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyStockBook</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@ActiveItem("Index", "Home", null)">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="@ActiveItem("Index", "Stocks", null)">@Html.ActionLink("Stocks", "Index", "Stocks")</li>
                <li class="@ActiveItem("Index", "Calendar", null)">@Html.ActionLink("Calendar", "Index", "Calendar")</li>
            </ul>
            <div id="logButtons" onload="checkLogInStatus()">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function logIn() {
        FB.login(function (response) {
            // handle the response
            checkLogInStatus();
        }, { scope: 'publish_actions, publish_stream, read_stream' });

    }

    function logOut() {
        FB.logout(function (response) {
            // user is now logged out
            checkLogInStatus();
        });
    }


    function checkLogInStatus() {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                document.getElementById("logButtons").innerHTML = "<button id=\"logOut\" onclick=\"logOut()\">log Out</button>";
                getProfileImage();
            } else if (response.status === 'not_authorized' ) {
                document.getElementById("logButtons").innerHTML = "button id=\"logOut\" onclick=\"logOut()\">log Out</button>";
            } else {
                document.getElementById("logButtons").innerHTML = "<button id=\"logIn\" onclick=\"logIn()\">log In</button>";
            }
        });
    }

    function getProfileImage() {

        var $photo = $('.photo'),
            $fbPhoto = $('img.fb-photo');

        FB.api("/me/picture?width=40&height=40", function (response) {

            var profileImage = response.data.url.split('https://')[1], //remove https to avoid any cert issues
                randomNumber = Math.floor(Math.random() * 256);

            //remove if there and add image element to dom to show without refresh
            if ($fbPhoto.length) {
                $fbPhoto.remove();
            }
            //add random number to reduce the frequency of cached images showing
            $photo.append('<img class=\"fb-photo img-polaroid\" src=\"http://' + profileImage + '?' + randomNumber + '\">');
        });
    }

    window.onload = function () {
        checkLogInStatus();
    }
    
</script>